* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #89cbc9;
}

/* FONTS */
@font-face {
    font-family: "BebasB";
    src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue Regular.otf");
}

/* BASIC TEXT */
h1,
h2 {
    font-family: BebasB;
}

h1 {
    font-size: 90px;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}

h2 {
    font-size: 75px;
    text-align: center;
    padding-top: 3%;
}

h3 {
    font-size: 55px;
    font-family: Bebas;
}

h4,
p {
    font-family: Arial;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 30px;
}

/* HEADER */
header {
    background-color: #89cbc9;
    margin: auto;
    text-align: center;
    padding: 5% 1%;
}

header p {
    font-size: 45px;
    color: white;
    margin: 2%;
}

@media all and (min-width: 1000px) {

    header img {
        display: inline-block;
        max-width: 470px;
        padding-right: 5%;
        align-self: center;
    }

    .container {
        width: 75%;
        margin: auto;
        flex-wrap: nowrap;
        display: flex;
    }

    h1 {
        font-size: 75px;
    }

    header p {
        font-size: 35px;
    }

    header aside {
        align-self: center;
    }
}

/* EDUCATION */
.education {
    background-image: url("../img/whitemarblebg.jpg");
    background-color: silver;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: auto;
}

.education h2,
.education h3,
.education h4,
.education p {
    text-shadow: -2.5px 0 white, 0 2.5px white, 2.5px 0 white, 0 -2.5px white;
}

aside {
	padding: 3%;
}

@media all and (min-width: 1000px) {
	.education img{
        display: inline-block;
        align-self: center;
    }

	.education aside {
		width: 50%;
	}
}
