* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #89cbc9;
}

/* FONTS */
@font-face {
    font-family: "BebasB";
    src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
    font-family: "Bebas";
    src: url("../fonts/BebasNeue Regular.otf");
}

/* BASIC TEXT */
h1,
h2 {
    font-family: BebasB;
}

h1 {
    font-size: 90px;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}

h2 {
    font-size: 75px;
    text-align: center;
    padding-top: 3%;
}

h3 {
    font-size: 55px;
    font-family: Bebas;
}

h4,
p,
li {
    font-family: Arial;
}

h4 {
    font-size: 30px;
}

p,
li {
    font-size: 30px;
}

li {
    margin-left: 3%;
}

/* HEADER */
header {
    margin: auto;
    text-align: center;
    padding: 5% 1%;
}

header p {
    font-size: 45px;
    color: white;
    margin: 2%;
}

@media all and (min-width: 1000px) {

    header img {
        display: inline-block;
        max-width: 470px;
        padding-right: 5%;
        align-self: center;
    }

    .container {
        width: 75%;
        margin: auto;
        flex-wrap: nowrap;
        display: flex;
    }

    h1 {
        font-size: 75px;
    }

    header p {
        font-size: 35px;
    }

    header aside {
        align-self: center;
    }
}

/* EDUCATION */
.educationskills {
    background-image: url("../img/whitemarblebg.jpg");
    background-color: silver;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: auto;
}

.education h2,
.education h3,
.education h4,
.education p {
    text-shadow: -2.5px 0 white, 0 2.5px white, 2.5px 0 white, 0 -2.5px white;
}

.education p {
    font-size: 25px;
}

aside {
    padding: 3%;
}

.star {
    max-width: 75px;
}

.skills {
    padding-top: 3%;
}

.educationskills article + h2 {
    padding-top: 15%;
}

@media all and (min-width: 1000px) {

    .education img {
        display: inline-block;
        align-self: center;
    }

    .education aside {
        width: 50%;
    }

    .educationskills article + h2 {
        padding-top: 3%;
    }

    .skills {
        width: 60%;
        margin: auto;
    }

    .skills h3 {
        display: inline-block;
        padding-right: 3%;
        text-align: left;
    }

    .star {
        max-width: 45px;
        display: inline-block;
    }
}

/* EXPERIENCE */
.experience {
    margin: auto;
}

.experience article {
    margin: 15%;
    padding: 2%;
    background-image: url("../img/whitemarblebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: silver;
}

.experience article img {
    margin: auto;
    display: block;
}

.experience h2 {
    color: white;
}

.experience article h3 {
    text-align: center;
    padding: 2%;
}

.experience article h4 {
    font-family: Bebas;
    text-align: center;
    padding-top: 0;
    padding-bottom: 2%;
}

@media all and (min-width: 1000px) {

    .containerwrap {
        width: 60%;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
    }

    .containerwrap article {
        margin: 2%;
        margin-top: 0;
    }

    .experience h3 {
        font-size: 45px;
    }

    .experience li {
        font-size: 22px;
    }

    .experience img {
        max-width: 200px;
    }
}

/* Interests */
.interests h2,
.interests h3,
.interests p {
    color: white;
}

.interests img {
    float: left;
    width: auto;
    height: auto;
    align-self: center;
}

.interests article {
    width: 75%;
    margin: auto;
    clear: both;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}

.interests aside {
    float: right;
    margin-left: 2%;
}

@media all and (min-width: 1000px) {

    .interests img,
    .interests aside,
    .interests article {
        float: none;
        display: block;
        margin: auto;
    }

    .interests h3 {
        text-align: center;
        padding-bottom: 5%;
    }

    .interests article {
        width: calc(85%/3);
        margin: auto;
        height: auto;
    }

    .containerinterest {
        width: 85%;
        flex-wrap: nowrap;
        display: flex;
        margin: auto;
    }
}

/* FOOTER */
footer {
    background-image: url("../img/whitemarblebg.jpg");
    background-color: silver;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: auto;
}

footer p {
    font-family: Bebas;
    padding: 5%;
    font-size: 50px;
    text-shadow: -2.5px 0 white, 0 2.5px white, 2.5px 0 white, 0 -2.5px white;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: BebasB;
}

a:hover,
a:active {
    text-decoration: none;
    color: #89cbc9;
}

button {
    width: 50%;
    background-color: #89cbc9;
    color: white;
    height: 200px;
    border: 10px solid #89cbc9;
    font-size: 92px;
    font-family: BebasB;
}

button:hover {
    background-color: inherit;
    color: #89cbc9;
    transition: 0.7s;
    border: 10px solid #89cbc9;
}
